*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
    background: #F0F4FF;
}

.container{
  max-width:1100px;
  margin:auto;
  padding:20px 20px;
  text-align:center;
}

.logo{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.logo img{
  width:56px;
  border-radius: 25%;
}

.logo h1{
  color: #2563eb;
  font-size: 48px;
}

.subtitle{
  font-size:20px;
  color:#6b7280;
  margin-top:6px;
  margin-left: 550px;
}

.boxes{
  display:flex;
  gap:70px;
  margin:50px;
  justify-content:center;
  flex-wrap:wrap;   /* important for responsiveness */
}

.box{
  background:#f8fbff;
  padding:24px;
  border-radius:14px;
  box-shadow:0 8px 24px rgba(0,0,0,0.05);
  width:400px;      /* controls box size */
  text-align:center;
}

.box p{
    color:#6b7280;
}

.box h3{
  margin:22px 0 6px;
  font-weight: 500;
}

.dashboard-section{
  text-align:center;
  padding:20px 20px;  /* reduced from 60px */
}

.dashboard-title{
  font-size:28px;
  font-weight:700;
  margin-top:5px;    /* optional, you can reduce further */
  margin-bottom:30px; /* reduced from 40px */
}

.dashboard-cards{
  display:flex;
  justify-content:center;
  gap:70px;
  flex-wrap:wrap;
}

.dashboard-card{
  background:#fff;
  width:330px;
  padding:35px 30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.06);

  border:4px solid;   /* THICK BORDER */
  cursor: pointer;
}


.dashboard-card{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.dashboard-card ul{
  text-align:left;
  margin:20px 0;
}

.dashboard-card ul li{
  margin-bottom:8px;
  margin-left: 20px;
}

/* Icons */
.icon{
  width:56px;
  height:56px;
  margin:0 auto 20px;
  border-radius:14px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  color:#fff;
}

/* Buttons */
.btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  color:#fff;
  font-size:15px;
  cursor:pointer;
}

/* Colors */

.blue-bg{ background:#3b82f6; }
.green-bg{ background:#22c55e; }
.purple-bg{ background:#8b5cf6; }

.blue-btn{ background:#3b82f6; }
.green-btn{ background:#22c55e; }
.purple-btn{ background:#8b5cf6; }

.dashboard-card.blue{ border-color:#3b82f6; }
.dashboard-card.green{ border-color:#22c55e; }
.dashboard-card.purple{ border-color:#8b5cf6; }


.desc{
  font-size:14px;
  color:#6b7280;
}

footer{
  font-size:18px;
  color:#6b7280;
  margin: 0;      /* Remove outside space */
    padding: 10px; 
}